<div class="form-group py-2">
  <%= f.label :email %><br>
  <%= f.email_field :email, class: "form-control" %>
  <%= error_message_for(f.object, :email) %>
</div>
<div class="form-group py-2">
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "form-control" %>
  <%= error_message_for(f.object, :name) %>
</div>
<div class="form-group py-2">
  <%= f.label :password %><br>
  <%= f.password_field :password, class: "form-control", placeholder: placeholder_pw, autocomplete: false %>
  <%= error_message_for(f.object, :password) %>
</div>
<div class="form-group py-2">
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, class: "form-control" %>
  <%= error_message_for(f.object, :password_confirmation) %>
</div>
<div class="form-group py-2">
  <%= f.label :gender %><br>
  <div class="btn-group">
    <%= f.radio_button :gender, :male, class: "btn-check" %>
    <%= f.label :male, class: "btn btn-outline-primary", for: "user_gender_male" %>
    <%= f.radio_button :gender, :female, class: "btn-check"  %>
    <%= f.label :female, class: "btn btn-outline-danger", for: "user_gender_female" %>
  </div>
  <%= error_message_for(f.object, :gender) %>
</div>
<div class="form-group py-2">
  <div class="d-flex justify-content-between">
  <%= f.label :only_same_gender_default %>
  <button type="button" class="btn btn-link ms-2 padding-clear " onclick="alert('ワークアウトの予定を登録する際にの公開設定の初期値を設定できます。同性のみに公開にすると異性の他のユーザーからはあなたの予定は検索で見つからなくなります。')">
    <i class="fas fa-question-circle"></i>
  </button>
  </div>
  <div class="btn-group">
    <%= f.radio_button :only_same_gender_default, :same_gender, class: "btn-check" %>
    <%= f.label :only_same_gender_default_same_gender, class: "btn btn-outline-secondary" %>
    <%= f.radio_button :only_same_gender_default, :all_genders, class: "btn-check" %>
    <%= f.label :only_same_gender_default_all_genders, class: "btn btn-outline-secondary" %>
  </div>
  <%= error_message_for(f.object, :only_same_gender_default) %>
</div>