<div class="form-group py-2">
  <%= f.label :email %><br>
  <%= f.email_field :email, class: "form-control" %>
</div>
<div class="form-group py-2">
  <%= f.label :name %><br>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group py-2">
  <%= f.label :password %><br>
  <%= f.password_field :password, class: "form-control", placeholder: placeholder_pw %>
</div>
<div class="form-group py-2">
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>
<div class="form-group py-2">
  <%= f.label :gender %><br>
  <div class="btn-group">
    <%= f.radio_button :gender, :male, class: "btn-check" %>
    <%= f.label :male, class: "btn btn-outline-primary", for: "user_gender_male" %>
    <%= f.radio_button :gender, :female, class: "btn-check"  %>
    <%= f.label :female, class: "btn btn-outline-danger", for: "user_gender_female" %>
  </div>
</div>
<div class="form-group py-2">
  <%= f.label :only_same_gender_default %><br>
  <div class="btn-group">
    <%= f.radio_button :only_same_gender_default, :same_gender, class: "btn-check" %>
    <%= f.label :only_same_gender_default_same_gender, class: "btn btn-outline-secondary" %>
    <%= f.radio_button :only_same_gender_default, :all_genders, class: "btn-check" %>
    <%= f.label :only_same_gender_default_all_genders, class: "btn btn-outline-secondary" %>
  </div>
</div>