<div class="row justify-content-center">
  <div class="col-md-6 py-5">
    <h1><%= t('header.user.edit') %></h1>
    <%= form_with model: @user, local: true, data: { turbo: false } do |f| %>
      <%= render 'users/form_user', f: f, placeholder_pw: "パスワードを変更する場合のみ入力してください" %>
      <h3>BIG3の重量</h3>
      <div>
        <% if @workout_schedule_details.present? %>
          <% @workout_schedule_details.each do |detail| %>
            <div class="form-group py-2">
              <%= f.label :"exercise_#{detail.exercise_id}", detail.exercise.name %><br>
              <%= number_field_tag "user[exercises][#{detail.id}]", detail.one_rep_max_theoretical, min: 0, step: 1, class: "form-control" %>
            </div>
          <% end %>
        <% end %>
      <div>
        <%= f.submit t('helpers.submit.update'), class: 'btn btn-primary' %>
        <%= link_to '戻る', main_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
