<div class="row justify-content-center">
  <div class="col-md-6 py-5">
    <h1><%= t('header.user.new') %></h1>
    <%= form_with model: @user, local: true, data: { turbo: false } do |f| %>
      <%= render 'users/form_user', f: f, placeholder_pw: "" %>
      <div class="d-flex justify-content-between">
        <h3 class="pt-2">BIG3の重量</h3>
        <button type="button" class="btn btn-link ms-2" onclick="alert('マッチングする際の参考情報としておおよその扱える重量を登録してください。')">
          <i class="fas fa-question-circle"></i>
        </button>
      </div>
      <%= @validate_exercises ? '<div class="text-danger">BIG3の重量を設定してください</div>' : "" %>
      <div>
        <% @exercises.each do |exercise| %>
          <div class="form-group py-2">
            <%= f.label :"exercise_#{exercise.id}", exercise.name %><br>
            <%= number_field_tag "user[exercises][#{exercise.id}]", nil, min: 0, step: 1, class: "form-control", required: true %>
          </div>
        <% end %>
      </div>
      <div>
        <%= f.submit t('helpers.submit.create') , class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
