<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to image_tag('logo_header.png', alt: 'logo', height: '100'), logged_in? ? main_path : root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class='nav-item'>
          <% if logged_in? %>
            <span class="navbar-text">
              <%= current_user.name %>
            </span>
            <%= link_to t('プロフィール設定'), edit_user_path(current_user), class: 'btn btn-link nav-item' %>
            <%= link_to t('サインアウト'), logout_path, data: { turbo_method: :delete }, class: 'btn btn-link nav-item' %>
          <% else %>
            <%= link_to t('サインイン'), login_path, class: 'btn btn-link nav-item' %>
            <%= link_to t('サインアップ'), new_user_path, class: 'btn btn-link nav-item' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
