<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8">
    <div class="calendar">
      <div class="calendar-header">
        <div class="row align-items-center">
          <div class="col-auto">
            <%= form_with(url: workout_schedule_calendar_path, method: :get, local: true) do %>
              <input type="hidden" name="month" value="<%= (@current_date - 1.month).strftime('%Y-%m') %>">
              <button type="submit" class="btn">◀︎</button>
            <% end %>
          </div>
          <div class="col text-center">
            <h2><%= @current_date.strftime('%Y年%-m月') %></h2>
          </div>
          <div class="col-auto">
            <%= form_with(url: workout_schedule_calendar_path, method: :get, local: true) do %>
              <input type="hidden" name="month" value="<%= (@current_date + 1.month).strftime('%Y-%m') %>">
              <button type="submit" class="btn">▶︎</button>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">日</div>
          <div class="col text-center">月</div>
          <div class="col text-center">火</div>
          <div class="col text-center">水</div>
          <div class="col text-center">木</div>
          <div class="col text-center">金</div>
          <div class="col text-center">土</div>
        </div>
      </div>
      <div class="calendar-body">
        <% days_in_month = (1..@current_date.end_of_month.day).to_a %>
        <% start_day_of_week = @current_date.wday %>
        <% total_days = days_in_month.length + start_day_of_week %>
        <% total_weeks = (total_days / 7.0).ceil %>

        <% (0...total_weeks).each do |week| %>
          <div class="row flex-nowrap">
            <% (0...7).each do |day| %>
              <% day_index = week * 7 + day %>
              <% if day_index < start_day_of_week || day_index >= total_days %>
                <div class="col border text-muted">&nbsp;</div>
              <% else %>
                <% day_number = day_index - start_day_of_week + 1 %>
                <div class="col border <%= 'text-primary' if day % 7 == 6 %> <%= 'text-danger' if day % 7 == 0 %>">
                  <div class="date"><%= day_number %></div>
                  <div class="workouts">
                    <% @grouped_schedules.each do |schedule_group| %>
                      <% if schedule_group.keys.first.day == day_number %>
                        <% schedules = schedule_group.values.first %>
                        <% if schedules.size == 1 %>
                          <% schedule = schedules.first %>
                          <div class="workout desktop-only">
                            <%= link_to workout_schedule_path(schedule, from_calendar: true) do %>
                              <%= schedule.googlemap_place_name %><br>
                              <%= schedule.start_at.strftime("%H:%M") %> - <%= schedule.finish_at.strftime("%H:%M") %>
                            <% end %>
                          </div>
                          <div class="workout mobile-only">
                            <%= link_to '1件', workout_schedule_path(schedule, from_calendar: true) %>
                          </div>
                        <% elsif schedules.size > 1 %>
                          <div class="workout">
                            <%= link_to "#{schedules.size}件", workout_schedules_path(date: schedule_group.keys.first.strftime('%Y-%m-%d'), from_calendar: true) %>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>