<div class="row justify-content-center">
  <%= form_with model: @workout_schedule, url: workout_schedules_path, method: :post, local: true do |form| %>
    <div class="d-flex justify-content-center mb-3">
      <div class="form-check form-check-inline">
        <%= form.radio_button :workout_option, 'register', id: 'registerWorkout', class: 'form-check-input workout-option radio-inline__input' %>
        <%= form.label :workout_option, 'ワークアウトの予定を登録', for: 'registerWorkout', class: 'form-check-label radio-inline__label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :workout_option, 'search', id: 'searchWorkout', class: 'form-check-input workout-option radio-inline__input' %>
        <%= form.label :workout_option, 'ワークアウトの予定を検索', for: 'searchWorkout', class: 'form-check-label radio-inline__label' %>
      </div>
    </div>
    <!-- 予定の登録フォーム -->
    <div id="create-WorkoutSchedules-form" style="display: none;">
      <%= render 'workout_schedules/form_create', form: form %>
    </div>
    <!-- 予定の検索フォーム -->
    <div id="search-WorkoutSchedules-form" style="display: none;">
      <%= render 'workout_schedules/form_search', form: form %>
    </div>
  <% end %>
</div>
<%= render 'workout_schedules/map_modal' %>
<%= javascript_include_tag 'top', defer: true %>
<script>
  function loadScript() {
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCLuHtlbDaUGL2RUoWV4d2akTzNK_zf4Rk&libraries=places";
    script.async = true;
    script.defer = true;
    document.head.appendChild(script);
  }

  document.addEventListener("DOMContentLoaded", function() {
    loadScript();
  });

  window.currentUser = {
    gender: "<%= current_user.gender %>"
  };
</script>
