<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>RunteqGraduate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="<%= controller_name == "introductions" ? "introduction-bg" : "" %>">
    <%= render 'shared/header' %>
    <div class="container py-5">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>

